.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}
.member-list{
    width: 30%;
}
.chat-list{
    width: 30%;
}

.chat-messages{
    width: 100%;
}